<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/base.css' %}">
    <title>BASE TEMPLATE</title>
</head>
{% endblock %}

<body>
<nav>
    <div class="logo">Q-APP</div>
    <ul>
        <li><a href="{% url 'quiz:home' %}">Home</a></li>
        <li><a href="{% url 'quiz:add_category' %}">Add Category</a></li>
        <li><a href="{% url 'quiz:add_question' %}">Add Question</a></li>
        <li><a href="{% url 'quiz:all_questions' %}">All Questions</a></li>
        <li><a href="{% url 'quiz:all_categories' %}">All Categories</a></li>

    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
{% block script %}
{% endblock %}
</html>
