body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, rgb(8, 8, 37), rgb(43, 2, 43));
  z-index: 0;
}
.introductionContainer {
  position: relative;
  width: 80%;
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(12, 10, 12);
  margin-top: 180px;
  /* backdrop-filter: blur(5px); Does not work in firefox from version 70 */
  /* z-index: 1; */
}

.introductionContainer::before{
  content: '';
  position: absolute;
  top:0px;
  left:-1px; 
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(-45deg, rgb(255, 41, 251), rgb(63, 25, 255),rgb(255, 188, 31),rgb(156, 7, 255));
  background-size:400% 400%;
  box-shadow: 0px 0px 45px 5px rgb(0, 0, 0);
  animation-name: introBack;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  z-index: -1;
  border-radius: 20px;
}
@keyframes introBack {
  0%{background-position: 0% 0%;}
  25%{background-position: 0% 50%;}
  50%{background-position: 0% 100%;}
  75%{background-position: 50% 100%;}
  100%{background-position: 100% 100%;}
}
.introductionContainer h1 {
  position: absolute;
  top: -47px;
  left:20px;
  /* backdrop-filter:blur(200px); */
  letter-spacing: -0.1rem;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  /* text-shadow: 0 0 5px rgba(255, 255, 255, 0.803), 5px -5px 15px rgb(0, 0, 0); */
  z-index: 1;
  transition: 0.2s;
}
.introductionContainer:hover h1{
  letter-spacing: 0.2rem;
  /* color: rgb(246, 111, 0); */
  /* text-shadow: 0 0 5px rgba(246, 111, 0), 5px -5px 15px rgb(0, 0, 0); */
}
.introductionContainer p {
  position: relative;
  color: rgba(249, 253, 255, 0.916);
  font-size: 1rem;
  margin: 20px;
  text-align: justify;
  line-height: 1.1rem;
  font-weight: 600;
  padding: 20px;
  margin-top: 42px;
  margin-bottom: 45px;
}
.formContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(12, 10, 12);
  padding:90px;
  margin:50px;
}
.formContainer::before{
  content: '';
  position: absolute;
  top:-2px;
  left:-1px; 
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(-45deg, rgb(255, 41, 251), rgb(63, 25, 255),rgb(255, 188, 31),rgb(156, 7, 255));
  background-size:400% 400%;
  box-shadow: 0px 0px 45px 5px rgb(0, 0, 0);
  animation-name: introBack;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
  z-index: -1;
  border-radius: 20px;
}
.formContainer label{
  position: relative;
  width: fit-content;
  color: aliceblue;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px;
  margin-top: 10px;
}
.formContainer label:nth-child(2){
  position: relative;
  color: aliceblue;
  font-size: 1.3rem;
  font-weight: 800;
  padding: 10px;
  margin-top: 0px;
}
.formContainer input{
  position: relative;
  width: 70%;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  transition: 0.2s;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
}
.formContainer #id_question_text{
  position: relative;
  width: 70%;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  transition: 0.2s;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
  margin-bottom: 45px;
}
.formContainer input:focus{
  width: 80%;
  background-color: aliceblue;
  color: black;
}
.formContainer #id_question_text:focus{
  width: 80%;
}
.formContainer label:nth-child(12){
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 70px;
}
.formContainer select{
  position: relative;
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  margin: 20px;
  background-color: aliceblue;
  outline:none;
}
.formContainer ul{/* for server errors... */
  color: #fff;
  margin: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(255, 55, 0);
  padding: 20px;
  border-radius: 10px;
}
.formContainer #submit-btn{
  position: relative;
  color: #fff;
  background-color: rgb(253, 156, 0);
  width: fit-content;
  padding: 15px;
  margin-top: 70px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: -0.1rem;
}
.formContainer #submit-btn:hover{
  color: black;
}