{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/add_question.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/base.css' %}">
    <title>Add Question</title>
</head>
{% endblock %}
<body>
{% block content %}
<div class="container">
    <form action="{% url 'quiz:add_question' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" id="submit-btn">
    </form>
</div>

{% endblock %}
</body>
