<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/questions.css' %}">
    <title>All Questions</title>
</head>
<body>
<div class="container">
    {% for question in all_questions %}
    <div class="questionCard">
        <div class="questionText">{{ question.question_text }}? ({{ question.category }})</div>
        <div class="choicesContainer">
            <ol>
                {% for answer in question.answer_set.all %}
                <li>{{ answer.answer_text }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% endfor %}
    <a class="addQuestion" href="{% url 'add_question' %}">Add Question</a>
</div>

</body>
</html>