{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/questions.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/base.css' %}">
    <title>All Questions</title>
</head>
{% endblock %}
<body>
{% block content %}
<div class="container">
    {{ data|json_script:"js_1" }}
    <form action="{% url 'quiz:all_questions' %}" method="post">
        {% csrf_token %}
        {% for question in all_questions %}
        <div class="questionCard">
            <div class="questionText">{{ question.question_text }}? ({{ question.category }})</div>
            <div class="choicesContainer">
                <ol>
                    {% for choice in question.answer_set.all %}
                    <li id="{{ choice.id }}">
                        <label for="choice_{{ choice.id }}">{{ choice.answer_text }}
                        </label>
                        {% if not quiz_finished %}
                        <input type="radio" id="choice_{{ choice.id }}" name="choice_{{ question }}"
                               value="{{ choice.id }}" required/>
                        {% endif %}

                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endfor %}
        {% if not quiz_finished %}
        <input type="submit" value="Submit" id="submit-btn">
        {% endif %}
    </form>

</div>
{% if quiz_finished %}
<div class="result"> Result : {{ result }}%</div>
{% endif %}
{% endblock %}
</body>
{% block script %}
<script src="{% static 'quiz/js.js' %}"></script>
{% endblock %}
