{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/categories.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/base.css' %}">
    <title>All Categories</title>
</head>
{% endblock %}
<body>
{% block content %}
<div class="container">
    {% for category in all_categories %}
    <a href="{% url 'quiz:category_detail' category.id %}" class="categoryCard">
        <div class="categoryName">{{ category.name }}</div>
        <p>No. questions: {{ category.question_set.all.count }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
</body>
