<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/questions.css' %}">

    <title>Category Detail</title>
</head>
<body>

<a href="{% url 'delete_category' the_category.id %}">Delete "{{ the_category }}" category</a>

<div class="container">
    {% for question in category_questions %}
    <div class="questionCard">
        <div class="questionText">{{ question.question_text }}?</div>
        <div class="choicesContainer">
            <ol>
                {% for answer in question.answer_set.all %}
                <li>{{ answer.answer_text }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% endfor %}
</div>


<!--<ul>-->
<!--    {% for question in category_questions %}-->
<!--    <li>-->
<!--        {{ question.question_text }}-->
<!--        <ol>-->
<!--            {% for answer in question.answer_set.all %}-->
<!--            <li>{{ answer.answer_text }}</li>-->
<!--            {% endfor %}-->
<!--        </ol>-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--</ul>-->

</body>
</html>