<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Detail</title>
</head>
<body>
<h1>{{ the_category }}</h1>
<a href="{% url 'delete_category' the_category.id %}">Delete this category</a>
<h2>Number of questions: {{ the_category.question_set.all.count }}</h2>
<h2>questions:</h2>
<ul>
    {% for question in category_questions %}
    <li>
        {{ question.question_text }}
        <ol>
            {% for answer in question.answer_set.all %}
            <li>{{ answer.answer_text }}</li>
            {% endfor %}
        </ol>
    </li>
    {% endfor %}
</ul>

</body>
</html>