{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/base.css' %}">
    <title>Home</title>
</head>
{% endblock %}

<body>
{% block content %}
<a class="router" href="{% url 'all_categories' %}">Questions Based on Categories</a>
<a class="router" href="{% url 'all_questions' %}">All Questions</a>
{% endblock %}
</body>
