@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(205, 205, 253), rgb(107, 24, 107));
  background-attachment: fixed;
}
.container {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgba(32,32,32,0.7);
  border-radius:30px;
  padding:30px;
}
.container form{
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius:30px;
  padding:30px;
}
.container form label{
position:relative;
top:3px;
color:white;
font-size:1.2rem;
padding:10px;
}
.container form input{
padding:10px;
border-radius:10px;
border-style:solid;
border-width:0px;
font-size:1rem;
}
.container form #submit-btn{
padding:20px;
margin:10px;
border-radius:40px;
border-style:solid;
border-width:0px;
color:aliceblue;
font-size:1rem;
background-color: rgba(29, 27, 27, 0.7);
cursor:pointer;
font-weight: bolder;
transition:0.2s;
}
.container form #submit-btn:hover{
transform:scale(1.2);
}