@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: linear-gradient(45deg, rgb(205, 205, 253), rgb(107, 24, 107));
  background-attachment: fixed;
  /*background: white url("images/p2.jpg") no-repeat;*/
}
.container {
  position: relative;
  display: flex;
  width:60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:80px;
  margin-top:110px;
  margin-bottom:110px;
  border-radius:30px;
  background-color: rgba(29, 27, 27, 0.7);
}
.container .categoryCard {
  position: relative;
  width:80%;
  height:50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 27, 27, 0.507);
  border-radius: 40px;
  margin: 10px;
  padding:20px;
  text-decoration: none;
  transition:0.3s;
}
.container .categoryCard:hover{

}
.container .categoryCard .categoryName {
  position: relative;
  left:13%;
  color: aliceblue;
  font-size:1.2rem;
  font-weight: bolder;
  margin: 5px;
  transition:0.3s;
}
.container .categoryCard:hover .categoryName {
  left:-10%;
}
.container .categoryCard p {
  position: relative;
  left:-10%;
  color: aliceblue;
  font-weight: lighter;
  margin: 5px;
  font-size: 1.1rem;
  opacity:0;
  transition:0.4s;
}
.container .categoryCard:hover p{
 opacity:1;
 left:10%;
}
.container .addCategory {
  position: fixed;
  bottom: 40px;
  left: 10px;
  text-decoration: none;
  background-color: rgba(31, 28, 28, 0.705);
  padding: 20px;
  border-radius: 30px;
  color: aliceblue;
}
